include LICENSE
include README.md
include pyproject.toml
include setup.py

recursive-include easy_logging *.py
recursive-include easy_logging *.md
recursive-include easy_logging *.txt
recursive-include easy_logging *.json 